<?xml version="1.0" encoding="utf-8"?>
<manifest package="wolfogre.kh8_1"
          xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name="wolfogre.kh6_2.GameManagerActivity">
		</activity>
		<activity android:name="wolfogre.kh6_2.GameSettingActivity">
		</activity>
		<activity android:name="wolfogre.kh6_2.GroupSettingActivity">
		</activity>
		<activity android:name="wolfogre.kh6_2.GradeSettingActivity">
		</activity>
	</application>

</manifest>
